[2013-12-01 02:13] bepetersn opened #1 "move all (extant) copy into spreadsheets"
- a separate worksheet for each stage would be best
- remove the same information from tarbell_config file
- go through each template and change the references (probably by find-and-replace) to the titles/copy
- then do issue #3 so we never have to go through all the templates again

Here's the spreadsheet...
https://docs.google.com/spreadsheet/ccc?key=0AtIgbhrbjJC_dGZldkpEUDB0bmRhY1Z3aU9jRlI1VlE&

[2013-12-01 02:32] bepetersn opened #2 "make copy for court page"
Collect basic info on the court stage of the criminal justice system, like was already done for the call page.

Should be added to here, under the page_courts section:

https://docs.google.com/spreadsheet/ccc?key=0AtIgbhrbjJC_dGZldkpEUDB0bmRhY1Z3aU9jRlI1VlE&usp=drive_web#gid=1

[2013-12-01 02:49] bepetersn opened #3 "move common stage features into the _cpd template"
- this includes things like headings 1-6, separators
- leave space for customizing in the extending templates
  - specifically, extra space will be needed for each section for court page

[2013-12-01 02:52] bepetersn opened #4 "link the separate stages of the slider with anchors"
- there should be an anchor for each #call, #police
- make the js that controls page transitions listen for hash (or location) changes, and transition accordingly when necessary
- also make active class apply to whichever page is up

[2013-12-01 02:55] bepetersn opened #5 "make a home page"
things we might want on the home page:
- visualization of the whole system
- explanation of what this project is
- link to slider

[2013-12-01 02:57] bepetersn opened #6 "make "resources" page"
Parts of the page:
- Resources for making FOIA requests
- Resources for getting data from the court (which involves its own, different process)
- Other resources for getting data...

The actual copy for this is as yet undefined. Tracy's or Maria's help with this would be good, as they know probably know better what is actually needed.

[2013-12-02 04:04] bepetersn opened #7 "responsivize slider page"
- make slider arrows on either side of the page fall to bottom of the page, perhaps?
- if not, they at least have to get pulled in, so they are still visible.

[2013-12-02 04:36] bepetersn opened #8 "make slider actually slide?"
Replace jquery .load() functionality with:
- $.get() call to the right page
- drop everything but the page fragment that you want (inside the #main tag)
- manually draw the page to the right dimensions off screen
- use .animate() to drag it into position

[2013-12-02 05:26] bepetersn commented on #3
more or less did this, however I have to see how well it will work now that I have actual content/data to fit into my templates

[2013-12-02 05:26] bepetersn commented on #7
at page width 768px, the slider arrows seem to disappear

[2013-12-02 06:20] bepetersn commented on #7
one possible solution is to make the slider arrows not arrows, but just "next" and "previous" text and the top and bottom of the page.

[2013-12-02 06:22] bepetersn opened #9 "change positioning of slider arrows for mobile"
Need to make a media query such that the arrows move down to the bottom and/or top of the page when the viewport width is less than 768.

It's not clear to me if it should be at top or bottom or both, so figure that out as well.

[2013-12-02 06:23] bepetersn commented on #7
See issue #9.

[2013-12-02 06:23] #7 closed, assigned to nobody

[2013-12-02 06:38] bepetersn opened #10 "re-structure _stage template to highlight maria's copy"
I'm going to try experimenting with highlighting the more journalistic, free-flowing narrative copy. This means:
- incorporating the journalistic copy near the top of the template
- moving the various sections based primarily around the data of the stage down
- also, possibly insetting this more technical data within a well, or making it initially hidden, or otherwise signalling that it is more te

[2013-12-02 06:39] bepetersn commented on #10
Note that this is also involved with issue #2, and needs that one to be completed before this one can be.

[2013-12-02 06:39] #1 closed, assigned to nobody

[2013-12-02 15:37] bepetersn commented on #4
This is basically done as well, I just can't get the damn active styling for the active class to get applied correctly! I'm closing this and opening up a smaller ticket.

[2013-12-02 15:37] #4 closed, assigned to nobody

[2013-12-02 15:57] bepetersn opened #11 "make adding the active class apply CSS changes for nav bar"
In order to style the highlighted region of the navbar, you have to use a CSS rule that looks like this:

[code]

I discovered that I have to use `!important` here because bootstrap seems to already have this very specific selector set. I also thought it was weird that I'm styling the background color of the anchor element. I thought, why not style the `<li>` element itself? Doing so simply hasn't

[2013-12-02 16:12] bepetersn opened #12 "navbar dropdown is sticky below window width of 768"
With these small window widths, there is a problem of the dropdown bar being sticky after you click one of its elements. I don't know why, but it doesn't go back up after you select a dropdown element. Problem with my CSS?

[2013-12-02 16:17] bepetersn commented on #2
Maria has gone a long way towards getting this done. Still need:
- more content for the various sections of the court stage

[2013-12-02 16:19] bepetersn commented on #12
@eads, @mmisery, @nwinklareth, what do you think of this?

[2013-12-02 16:29] bepetersn commented on #12
I guess the way you're supposed to close the dropdown is by clicking the "hamburger" options menu thingy again. Doing so within the "slide.html" page has a visible effect, but the dropdown stays in place.

It does not happen for any other page.

[2013-12-02 16:38] eads commented on #12
Hey Brian, are you publishing this to a staging site somewhere? It might be
nice to see it in the wild.

On Mon, Dec 2, 2013 at 10:29 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be

[2013-12-02 16:42] bepetersn opened #13 "on first navigating to slide.html, presence of hash doesn't do anything"
Currently, an `onhashchange` event is listened for to navigate to the right sub-page. However, this fails if navigating from an external page directly to a sub-page, for instance slide.html#police. Instead, you are taken to slide.html#call.

[2013-12-02 16:59] bepetersn commented on #12
Hey Dave, just sent an email out to Chris Whitaker about setting up an Amazon S3 bucket. But as of now I don't have the site to stage with.

[2013-12-02 17:00] eads commented on #12
Just set one up yourself. It's free. Or I can set one up for you in my AWS
account.

On Mon, Dec 2, 2013 at 10:59 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of meas

[2013-12-02 17:33] #3 closed, assigned to nobody

[2013-12-02 17:35] eads commented on #12
Do they give you access to create S3 buckets?

On Mon, Dec 2, 2013 at 11:19 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for life a

[2013-12-02 17:52] bepetersn commented on #12
I believe they're going to, but I may not be able to get up a public site
'til later today.

On Mon, Dec 2, 2013 at 11:35 AM, David Eads notifications@github.comwrote:

##

Brian Peterson

[2013-12-03 22:50] MMisery commented on #12
I'll try to give it a look-over at some point. I need to handle some publickey errors I've been getting with the project.

[2013-12-03 22:55] bepetersn commented on #12
Public key... errors?

On Tue, Dec 3, 2013 at 4:50 PM, MMisery notifications@github.com wrote:

##

Brian Peterson

[2013-12-03 23:26] #10 closed, assigned to nobody

[2013-12-04 03:42] bepetersn opened #14 "need more research on police data, court data, jail data"
Research the more "technical" side of the data available for these three stages, where some data is available.

Specifically, need to find the actual format that data comes in, cleanliness of the data, as well as specificity/helpfulness of the data, including aggregated vs. individualized data.

[2013-12-04 03:44] bepetersn opened #15 "need more research on police data, court data, jail data"
Research the more "technical" side of the data available for these three stages, where some data is available. (Also, for the state's attorney / filing of charges stage, ANY information we can find about data / documents that are kept, its format, anything else.)

Specifically, need to find the actual format that data comes in, cleanliness of the data, as well as specificity/helpfulness of the dat

[2013-12-04 03:45] #14 closed, assigned to nobody

[2013-12-04 04:25] bepetersn commented on #11
You can actually briefly see the color on page load. You can see this if you change the css color to a really bright, highlighted color. But it goes away.

[2013-12-04 05:43] bepetersn opened #16 "put some color on the page in the data section"
I was thinking of putting a red exclamation point on each point about data (availability, format, limitatations) that we deem "bad", and maybe some kind of green checkmark for the better data aspects of data points.

Pretty easy to create.

[2013-12-04 16:21] bepetersn commented on #12
Matt, did you mean with this project? Or some other project?

[2013-12-04 16:33] #13 closed, assigned to nobody

[2013-12-04 16:44] bepetersn opened #17 "create graphics based on some analysis of data"
In particular, if someone were to do analysis on the 911 call data we have access to, and produce a graph or some other representation based on it, that would be **very helpful**. You can find that data here for 2008-2011. (We are still waiting on the 2012 data from the CJP):

http://www.chicagojustice.org/foi/data-sets-available-for-download/calls-for-police-service

Any other of the data sources

[2013-12-04 17:51] MMisery commented on #12
Yeah, it was with this project. I've found some solutions to general publickey errors - I just have to try to implement them.

[2013-12-04 18:10] eads commented on #12
Can you explain these problems? I'm baffled.
On Dec 4, 2013 11:51 AM, "MMisery" notifications@github.com wrote:

[2013-12-04 18:27] bepetersn commented on #12
Did you have trouble pulling/pushing? Can't you elaborate?

[2013-12-04 20:40] MMisery commented on #12
Right. It's a "Permission denied (publickey)" error thrown when cloning the repo (git clone git@github.com:bepetersn/chicago-justice.git). I'm going to be trying the solution offered at https://help.github.com/articles/error-permission-denied-publickey.

[2013-12-04 21:16] MMisery commented on #12
Alright, so my problem's done. I didn't have an SSH key for my virtual environment, so I had to go through the steps listed at the link listed above and at https://help.github.com/articles/generating-ssh-keys. Key was created and then added to account. Cloned the repo and started the server, though it was pretty slow in starting. Now we can all move to the main problem.

[2013-12-04 22:13] GovInTrenches opened #18 "Remove Pintrest Icon"
Minor Issue in the grand scheme of things, but Smart Chicago doesn't have a Pintrest button so it wouldn't make sense for us to have a Pintrest link on the site. If anything, our users are more likely to email a link to the site then pin it.

[2013-12-04 22:18] bepetersn commented on #5
I'm actually thinking of fully making the site a single-page app. What that would mean for this page is just making it the first "slide". Thoughts?

[2013-12-05 04:54] MMisery commented on #12
So, something I've noticed that may or may not be playing a part in all this (and it may just be me): the links in the navbar. I haven't seen where the links are set up, but if you hover over the links in navbar, each name is prepended by "#", so the link doesn't go anywhere.

If you check the example at http://getbootstrap.com/examples/carousel/ with a phone screen sized browser window, you'll se

[2013-12-05 05:39] MMisery commented on #12
Yeah, so in your "_nav.html" file (not the one under _base), just change the "a href" tags from "#[name]" to "[name].html", i.e., "jail.html", "call.html", etc. After that, clicking on the link should go to the actual page and throw the command to collapse the navbar (it's a JavaScript thing). All in all, it's mostly just an HTML issue.

[2013-12-05 06:48] bepetersn commented on #12
I'm not sure I follow. If you see how the routing is actually done, you'll
see that it doesn't redirect to a new page when you click the next and
previous buttons, or when you click the nav buttons. Instead, I do an AJAX
call and pull the html of the other pages into the current one.

It's not really well done right now... I am thinking re-doing the lion's
share of the routing functionality.

On W

[2013-12-05 06:51] bepetersn commented on #12
For instance, navigating to #call sets off an onHashChange event listener,
which takes the value of the hash and tries to pull in an html page of the
same name.

As I said, it's a bit wonky, but the nav isn't intended to point to
call.html.

On Thu, Dec 5, 2013 at 12:48 AM, Brian Peterson bepetersn@gmail.com wrote:

##

Brian Peterson

[2013-12-05 06:54] bepetersn commented on #12
For instance, navigating to #call sets off an onHashChange event listener,
which takes the value of the hash and tries to pull in an html page of the
same name. As I said, it's a bit wonky, but the nav isn't intended to point
to call.html.

But this could still be causing the messed up functionality I'm seeing. As
it happens, I just remembered something probably important: there was a
point at whi

[2013-12-05 07:45] MMisery commented on #12
Ah. I get you. I hadn't been testing it from slide.html - just the pages themselves. So, although the solution I posted helps with the nav issue, it doesn't go with the routing as you intend it.

Back to the drawing board.

[2013-12-05 08:26] bepetersn commented on #12
Well, in a sense your solution is the correct one, and my routing wrong.
But from the reverse perspective its the reverse, lol. I'm gonna reform the
whole thing, don't worry.

On Thu, Dec 5, 2013 at 1:45 AM, MMisery notifications@github.com wrote:

##

Brian Peterson

[2013-12-07 18:01] bepetersn opened #19 "separate out the DOM manipulation into Backbone.js views"
This needs to be done for the structure of the code, and more readable code.

However, one thing to check is if this also fixes a problem I'm having getting at the models underneath my `SlideCollection`. I suspect it has to do with the asynchronicity of the population of this collection, which may well be fixed once views are properly tied into models and the router.

[2013-12-07 19:24] bepetersn opened #20 "fix image rendering by making it smaller / lower dpi"
Currently the home page image, which is stored at img/project.jpg, takes a ridiculous amount of time to load. It is in fact extremely large (partially my fault for messing with the scale in GIMP), and possibly has a very high high pixel density as well.

These are good things in general, but the page has to be able to load.

[2013-12-08 02:27] #20 closed, assigned to nobody

[2013-12-08 02:27] #19 closed, assigned to nobody

[2013-12-08 02:27] #18 closed, assigned to nobody

[2013-12-08 02:35] sarahelizabeth opened #22 "Right nav arrow disappeared"
This is a bug
Where did it go?!
- Tried to adjust size of containing div
- Tried to reduce size of images

[2013-12-08 03:02] bepetersn opened #23 "make the next and previous arrows work"
This requires use of backbone, specifically the SlideView and probably the SlideCollection I made.

First, make SlideView listen for click events from the right html elements.

[code]

Define the `get_next` and `get_previous` callback functions, and handle both **getting** the url to the next slide, and **navigating** to that url. Navigating is pretty easy. I _think_ we just need to do `Router.nav

[2013-12-08 03:53] bepetersn opened #24 "new contributors get a 403 google drive error when running the server"
Perhaps the issue is that my tarbell_config.py file is loaded in with the project?

@wilbertom and possibly @boboTjones reported seeing this error.

[2013-12-08 04:43] bepetersn opened #25 "error when trying to explicitly navigate to a sub-page"
Navigating to "#project", works.

Navigating to "#project/1", or any subpage, fails.

I suspect that a call to `<collection>.findWhere()` is returning undefined, but I'm not sure.

[2013-12-08 04:57] bepetersn commented on #24
@eads, any initial thoughts?

[2013-12-08 05:06] bepetersn commented on #25
@wilbertom, you wanna take this one? Don't seem to be able to assign you.

EDIT:

Never mind, got it done.

EDIT EDIT:

I successfully assigned the task, I didn't do the task.

[2013-12-08 08:15] bepetersn commented on #24
It seems it is most likely permission issues with the google spreadsheet. I tried setting view permissions on the spreadsheet to public.

Can either of you guys, @wilbertom or @boboTjones confirm that you can start the server now?

[2013-12-08 08:17] #22 closed, assigned to nobody

[2013-12-08 08:17] #23 closed, assigned to nobody

[2013-12-08 08:46] bepetersn opened #26 "Refactor such that all subpages of a stage into a single html file"
I was the one who separated out the slides into their own individual pages in the first place, and it was for convenience's sake at the time, but it's pretty annoying to have that many files.

Besides copy-pasting html, in order to make this change but still load in the slides correctly, it will be necessary to do some work with jquery, based on stage and section:
- first $.get() the stage's templ

[2013-12-08 08:47] bepetersn commented on #25
This is now the most important task.

[2013-12-08 08:49] bepetersn commented on #5
Well, we've collectively basically done this.

[2013-12-08 08:50] bepetersn commented on #6
- This may not be high priority, but I'd still like to see it get done, perhaps as a sort of appendix at the end of the app.

[2013-12-08 08:50] bepetersn commented on #11
- Need to check if this is still an issue with the new version.

[2013-12-08 08:53] bepetersn commented on #26
Maybe we don't need to do this right now. The app will work as is, so perhaps content / design / QA is of greater importance at this stage.

[2013-12-08 08:55] bepetersn commented on #2
If this is done, I really want to see what the copy / content looks like. I don't have a clear idea of how the data on the court (because of its much longer explanation part) will fit into our model, and I need to plan for that...

[2013-12-08 09:15] bepetersn opened #27 "landing page "project" stage has 3 subsections, instead of 2"
Even though I thought I explicitly hard-coded otherwise. No idea why, but it means the code in the populateSlides method of route.js has at least one bug in it, and more could be around.

[2013-12-08 09:18] bepetersn opened #28 "add license to this project"
I don't know which one. Someone choose.

[2013-12-08 17:13] wilbertom commented on #26
I think this can help. It would centralize the logic and make it easier to work.

[2013-12-08 17:16] wilbertom commented on #24
Yeah I was getting those errors but now it's working. I tried a couple of things yesterday, don't know how I fixed it because when taking off what I thought helped, it continued to work.

[2013-12-08 17:18] wilbertom commented on #24
@bepetersn  let's coordinate so you can un`share` the document with me for 30 minutes to see if it was that.

[2013-12-08 17:20] wilbertom commented on #28
The party you are making this for should pick.

[2013-12-08 17:21] wilbertom commented on #25
Is this done? If not I can take a crack at it.

[2013-12-08 17:39] eads commented on #26
Yeah. Having separate files is problematic. The section part feels like
over engineering to me.
On Dec 8, 2013 11:13 AM, "Wilberto Morales" notifications@github.com
wrote:

[2013-12-08 17:41] eads commented on #28
+1 Wilberto. For the moment the license should just be copyright the
client.

[2013-12-08 18:47] bepetersn commented on #24
Note that I did share the spreadsheet with you, and then I made it public. It was definitely the permissions on the spreadsheet at any rate.

[2013-12-08 18:51] bepetersn commented on #5
We still need some nice copy explaining what the site will be.

[2013-12-08 19:02] bepetersn commented on #25
Please do.

[2013-12-08 20:27] #25 closed, assigned to nobody

[2013-12-08 20:34] #27 closed, assigned to nobody

[2013-12-08 20:36] bepetersn commented on #24
I think this has been fixed. We either have to have our spreadsheet public, or tell people to request access to it in the README.

For now, the latter works.

[2013-12-08 20:36] #24 closed, assigned to nobody

[2013-12-08 20:41] bepetersn opened #29 "slider ends at #police/1 stage for some reason"

[2013-12-08 21:02] bepetersn commented on #26
Wil is trying to move it all into underscore templating, now.

[2013-12-08 21:08] eads commented on #26
Oi vey. Keep it simple homiez.

[2013-12-08 22:25] wilbertom commented on #26
Hey guys, I have these changes on my master branch. I notice the change is pretty radical so I want to push them to a new branch. I just wasted an hour trying to and I'm scare to messup the project. Need help!

[2013-12-08 22:35] eads commented on #26
fork, add a new remote to point to your fork, and push to that

On Sun, Dec 8, 2013 at 4:25 PM, Wilberto Morales
notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for

[2013-12-08 23:11] bepetersn opened #31 "the title for #call/3 is incorrectly taken from the police stage, somehow"
This surprised me. Not sure where the bug will be.

If you navigate to #call/3, the title changes to "Police Response".

[2013-12-08 23:12] wilbertom commented on #26
Thank you @eads  and @bepetersn. It might not be the best way so I can change it to another server side method

[2013-12-08 23:37] bepetersn commented on #26
Here's the pull Wil made: https://github.com/bepetersn/chicago-justice/pull/30

[2013-12-09 00:13] #29 closed, assigned to nobody

[2013-12-09 00:15] #5 closed, assigned to nobody

[2013-12-09 00:18] #6 closed, assigned to nobody

[2013-12-09 00:19] #2 closed, assigned to nobody

[2013-12-09 00:29] bepetersn commented on #26
Oh, also, someone made a jquery plugin for doing exactly what we had to do a whole bunch to accomplish:

https://github.com/defunkt/jquery-pjax

[2013-12-09 05:20] bepetersn opened #32 "navigating to #project/2 doesn't show back button?"

[2013-12-09 05:27] bepetersn opened #33 "landing page loads too slowly, make a loading indicator"
we need to either figure out how to optimize this, or have some kind of loading indication

[2013-12-10 08:18] #26 closed, assigned to nobody

[2013-12-10 10:39] #9 closed, assigned to nobody

[2013-12-10 10:41] bepetersn commented on #32
This appears to have disappeared with the fix of #26. Closing for now; reopen if it crops back up.

[2013-12-10 10:41] #32 closed, assigned to nobody

[2013-12-10 10:42] bepetersn commented on #31
This appears to have been fixed with #26. Closing for now; re-open if a similar issue happens again.

[2013-12-10 10:42] #31 closed, assigned to nobody

[2013-12-10 10:53] bepetersn opened #34 "inefficiency with new content-loading system"
We now do a GET request via JQuery whenever we load a slide, new or not, whether or not we are still on the same stage, or not. This is pretty inefficient, but there wasn't a simple, obvious way to handle this otherwise. Actually, there might be, and I just didn't see it yet. I'm tired.

[2013-12-10 11:36] bepetersn opened #35 "make sure next/prev arrows don't sit over any important content..."
Currently, they just completely overlap, but they are small, and become transparent if you mouse over them, and currently they mostly sit on the edges of large images.

However, when more actual written content, or graphical, gets put on the site, we will need to stop overlap. This is already visible on #police/2

[2013-12-10 11:37] bepetersn commented on #12
Need to check if this is still an issue with the newest version.

[2013-12-10 11:41] bepetersn opened #36 "need to responsivize font-sizes?"
Or otherwise fix them, anyhow. When you resize to near a mobile viewport, all the fonts look gigantic (I manually edited some of their sizes), but, for instance, the images have all resized. It's weird.

[2013-12-10 11:46] bepetersn opened #37 "make mockup of data section of a stage"
And by "mockup", I mean a bit of html in a div with a class of "slide".

This is how all content will be interfaced with the website from now, and it's the proper way to customize the structure of one slide by itself, or at least the current, proper, imagined way of doing so.

[2013-12-10 11:50] bepetersn opened #38 "style the landing page to make sure it's clear you need to scroll"
It seems one way we can do this is to add a fixed bar at the bottom of the page

[2013-12-10 11:51] bepetersn opened #39 "figure out how to style text over the featured image in an attractive way"

[2013-12-10 11:52] bepetersn commented on #39
Think: [finding care](http://tarbell.recoveredfactory.net/findingcare/).

[2013-12-10 11:54] bepetersn opened #40 "make mockup of what a chart slide looks like on the site"
And by "mockup", I [again](https://github.com/bepetersn/chicago-justice/issues/37) mean a bit of html in a div with class "slide", along with whatever css is necessary; if there is JS required, at least make a note of that...

[2013-12-10 12:18] bepetersn commented on #34
Wil, I think you can definitely get this one done. I just thought of how it can be done. We can implement a primitive sort of caching system. Just store the retrieved data from the html file on the view object itself. Then when the view is asked to render, it can do a check and see if it already has the right data to render. It would be cool.

[2013-12-10 15:06] eads commented on #36
Yeap. There's almost always fonts to be tweaked at various viewport sizes.

[2013-12-10 20:46] bepetersn opened #41 "write css code that tells each slide how to interact with its featured image"
Currently, the order that html is loaded into the slider primarily determines how things show up on a given slide.

Ideally, we'd have pre-styled the elements in a given slide to work nice together, so that when they get loaded in, it just works.

This basically has to be done on a per-slide basis, and so is contingent on the content being loaded into the website.

[2013-12-10 20:47] bepetersn commented on #39
This is really the same as issue #41, except less specific. Closing.

[2013-12-10 20:47] #39 closed, assigned to nobody

[2013-12-10 21:48] eads commented on #41
So 1) use imgliquid for all your image sizing needs. 2) You're right this
depends on content. Depending on how you set it up, you can probably
position and style the caption using the google spreadsheet.

[2013-12-15 03:48] #40 closed, assigned to nobody

[2013-12-15 03:48] #35 closed, assigned to nobody

[2013-12-15 03:49] #34 closed, assigned to wilbertom

[2013-12-15 03:49] #33 closed, assigned to nobody

[2013-12-15 03:49] #8 closed, assigned to wilbertom

[2013-12-15 03:49] #11 closed, assigned to nobody

[2013-12-15 03:49] #12 closed, assigned to nobody

[2013-12-15 03:49] #15 closed, assigned to nobody

[2013-12-15 03:49] #17 closed, assigned to nobody

[2013-12-15 03:51] bepetersn commented on #41
Do you really think position and style of captions should be done in spreadsheet? I guess you did that with Finding Care...

[2013-12-15 03:55] bepetersn commented on #37
This has yet to be done, except with the bare-bones, very heavily text-based design I initially made.

[2013-12-15 05:38] bepetersn opened #45 "make nav more compact"
- specififcally, develop project title in nav into a brand, a little bit taller

[2013-12-16 18:51] GovInTrenches opened #46 "More resource based, not as much editorial"
This should be more list of resources and less narrative based. We want to focus on what data is available, how it gets generated, and where the gaps are.

Also, there _is_ transparency in many parts of the system - we can't editorialize too much, but rather say what is and isn't there. We'll let people form their own opinion if it's transparent or not.

[2013-12-16 20:08] GovInTrenches opened #47 "Chicago-centric pictures"
I like the picture of the operator on the "Reporting/Call for Service" but we should be using Chicago pictures whenever possible. Dan has several thousands of pics on his http://www.flickr.com/photos/juggernautco/ page that we can pull from.

Steve Vance also has some good photos such as this one:

http://www.flickr.com/photos/75698896@N00/6205528816/in/photolist-asmXw9-dFXx8w-dEHWWu-e9WfKo-azrPsF

[2013-12-16 21:03] GovInTrenches opened #48 "Link to Raw Data"
As we gather up a list of all the different sets of data and the resources, we should make the raw data available for download.

[2013-12-16 21:52] GovInTrenches opened #49 "Add About Page"
The About Page will have information about:

The Project itself

The Partners
- Smart Chicago
- FreeGeek Chicago
- Chicago Justice Project

Open Source Link

Raw Data Link

Use this as an example: http://chicagohealthatlas.org/about

[2013-12-18 14:54] GovInTrenches commented on #28
Smart Chicago uses the Creative Commons Attribution 3.0 Unported (CC BY 3.0) license on all of our work.

[2013-12-18 15:00] GovInTrenches opened #50 "Links should jump to new tab/window"
We need the links to pop open in a new window so we don't have people jumping back and forth.

[2013-12-18 15:27] GovInTrenches commented on #41
I like the way that the Finding Care was overlaid. If we are doing a picture/content pattern, I'd rather be able just to scroll all the way down (vis a vis http://tarbell.tribapps.com/#) When it's configued like Finding Care, (Content over image) I don't mind the click-to-next as much.

[2014-01-11 21:23] GovInTrenches opened #51 ""See More" Dropdown Content"
For the content that is going to be rather long, we'd like to have the option to put the content in a 'see more' dialog so that we can expand it. This would avoid scrolling forever in a day.

[2014-02-12 19:50] GovInTrenches opened #54 "Finish Victimization tab"
A tab on victimization to showcase data on victimization data.

This is not a pitch-fork type issue, this is a human condition project. We need to make sure the site is focused on humans.

[2014-02-12 19:54] GovInTrenches opened #55 "Change Nav tab from Report to Call for Service"
Better describes what's actually happening

[2014-02-12 19:55] GovInTrenches opened #56 "Finish Arrest Tab"
Tab showing arrest data (none)

[2014-02-12 20:11] GovInTrenches opened #57 "Change Investigate to Incidents"

[2014-02-12 20:12] GovInTrenches opened #58 "Create flowchart of the Criminal Justice System in Chicago as a whole"
Create a "Criminal Justice System as a Whole" Tab with a graphic showing entire system.

@sarahelizabeth - Can you create a chart in the same line that you did the prosecution chart? I can send you a photo of the chart

[2014-02-12 20:14] sarahelizabeth commented on #58
@GovInTrenches Yes, can you please send it? Did you see the info graphic chart I sent you?

[2014-02-12 20:16] GovInTrenches commented on #58
![image](https://f.cloud.github.com/assets/1302753/2153066/78b25e62-9422-11e3-9854-46672d7376b0.png)

[2014-02-12 20:16] sarahelizabeth commented on #58
You got it

On Wed, Feb 12, 2014 at 2:16 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-12 20:27] GovInTrenches commented on #58
This is Tracy's discretion point chart that we can use for reference

http://chicagojustice.org/research/long-form-reports/felony-sex-crime-case-processing-report-analysis-recommendations

[2014-02-12 21:49] #38 closed, assigned to nobody

[2014-02-12 21:51] bepetersn commented on #16
this was done by @sarahelizabeth with commit 3fc7172f

[2014-02-12 21:51] #16 closed, assigned to nobody

[2014-02-12 21:52] #37 closed, assigned to nobody

[2014-02-12 21:57] bepetersn commented on #41
This issue itself is mostly resolved thanks to @eads's help awhile back using imgliquid.

@GovInTrenches: in terms of navigation, would paddles on the side of each page that slide up and down with the page be any better than the "back" and "next" buttons at the bottom of the page that we've since removed? That might fit better with our current content structure, and is still the best solution I ca

[2014-02-12 21:57] #41 closed, assigned to nobody

[2014-02-12 21:59] bepetersn commented on #46
Moving more in this direction, thanks to @GovInTrenches's suggestions.

[2014-02-12 21:59] #46 closed, assigned to nobody

[2014-02-12 21:59] GovInTrenches commented on #41
I'd prefer the paddles actually - would give it more of a flow. Sounds good to me

Christopher Whitaker
(Sent from iPhone)

[2014-02-12 22:00] bepetersn commented on #47
@GovInTrenches, do you have any more thoughts/plans about finding a picture of Chicago's call center, like you mentioned the other day?

[2014-02-12 22:02] bepetersn commented on #48
We have yet to set up links pointing to all the FOIA'ed data; however, is having the data on our site actually necessary, or is linking to the Chicago Justice Project's copy of it enough, do you think?

[2014-02-12 22:04] bepetersn commented on #49
As of right now, my understanding (that others share, unless I'm wrong) is that we want to have much/most of this information on our landing page, underneath the landing page photo. This may change. This is my current idea of our plans, and besides navigational issues, is probably one of the most important next TO-DO items.

[2014-02-12 22:04] GovInTrenches commented on #48
I'm OK with Links - so long as we give it some context we should be good to link

Christopher Whitaker
(Sent from iPhone)

[2014-02-12 22:05] bepetersn commented on #50
For the sake of shared understanding, can we re-confirm if this still something we would like to do?

[2014-02-12 22:05] GovInTrenches commented on #49
Correct - the landing page would be the about page

Christopher Whitaker
(Sent from iPhone)

[2014-02-12 22:07] GovInTrenches commented on #50
Correct - when a user clicks a link it should open in a new tab or window.

Christopher Whitaker
(Sent from iPhone)

[2014-02-12 22:21] bepetersn commented on #51
Still working on this -- @wilbertom had some idea of how to go about it, we might just have to play around a bit with it before we're satisfied, but we should have SOMETHING for this soon.

[2014-02-12 22:34] bepetersn opened #59 "Change graphic to be more clear"
Looking at the awesome current graphic on our website, which @sarahelizabeth created...

![](http://i.imgur.com/aeJxCTw.png)

...it's unfortunately difficult to interpret what it means, so much so that I suspect it may inaccurately portray our data.

The main reason I think this is so is that our group agreed to 3 main categories:
- Available,
- FOIA-able, and
- Not Available

But there are at lea

[2014-02-12 22:36] bepetersn opened #60 "Make chart legend"
A chart legend is needed to explain the prominent graphic we have. It may end up going on the home page, or on each page; not sure which.

[2014-02-12 22:37] bepetersn opened #61 "Add back in navigation paddles"
We need to add back in navigation capabilities. The current plan is to create a set of arrows that slide along the page at right and left. I will probably have to re-research the CSS attributes that I want to add in order to make the navigation paddles, or just look back in this project's git history, as I already created this once...

[2014-02-12 22:40] bepetersn opened #62 "Finish adding data fields for court and jail pages"
We need to add to the markdown files:
- court conviction data fields,
- jail data fields

More importantly, we need to color in all of the fields in our markdown files.

[2014-02-13 00:03] sarahelizabeth commented on #59
I haven't created a key yet, I'm sorry. I am working on it. Black means a lot gray means some and red means a little.

[2014-02-13 00:09] bepetersn commented on #59
What does nothing mean?
On Feb 12, 2014 6:03 PM, "Sarah Murray" notifications@github.com wrote:

[2014-02-13 00:11] bepetersn opened #63 "Collapsible lists of data fields"

[2014-02-13 00:12] sarahelizabeth commented on #59
It means nothing. It means there is no data that is available in that format.

[2014-02-13 00:13] bepetersn commented on #59
That ... I don't know if I understand.
On Feb 12, 2014 6:12 PM, "Sarah Murray" notifications@github.com wrote:

[2014-02-13 00:38] GovInTrenches commented on #59
Can we have icons to correspond? Check marks for completely open, F for FOIA'able and an X for nothing at all. That way even if the colors arnt intuitive it'll still make sense

Christopher Whitaker
(Sent from iPhone)

[2014-02-13 01:05] sarahelizabeth commented on #59
But that would be redundant. The top row already specifies the three types
of data: "Open Data", "FOIA-able Data", and "Unavailable Data" (I can make
that more clear). The dots signify the _amount_ of each type of data
(namely, a lot, some, none). If there is nothing I can include a black
circle. Does that make more sense?

On Wed, Feb 12, 2014 at 6:38 PM, Christopher Whitaker <
notifications@gith

[2014-02-13 01:20] GovInTrenches commented on #59
Redundancy isn't a bad thing per se. To me a color scheme like "red yellow green" makes sense because that's what we're used to. If we don't use that - then I'd like icons just so that there's zero confusion.

Christopher Whitaker
(Sent from iPhone)

[2014-02-13 01:29] sarahelizabeth commented on #59
Does this make any more sense to you? Where the bigger the circle the more
data is available in that category?

 Screen Shot 2014-02-07 at 8.33.56
PM.pnghttps://docs.google.com/file/d/0B9IgbhrbjJC_YlZKSmtPU1pGb2M2WXNHM1RCS00tbkJZRTJz/edit?usp=drive_web

On Wed, Feb 12, 2014 at 7:20 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-13 01:56] GovInTrenches commented on #59
MUCCCCH better. Now that makes more sense. 

Thanks! 

-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On February 12, 2014 at 7:29:22 PM, Sarah Murray (notifications@github.com) wrote:

Does this make any more sense to you? Where the bigger the circle the more
data is available in that category?

Screen Shot 2014-02-07 at 8.33.56
PM.pnghttps://docs.google.com/file/d/0B9I

[2014-02-13 01:58] sarahelizabeth commented on #59
Super, I will fix it now.

On Wed, Feb 12, 2014 at 7:56 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-13 02:09] sarahelizabeth commented on #59
How does that look?
@bepetersn @GovInTrenches @eads

[2014-02-13 02:10] sarahelizabeth commented on #59
![screen shot 2014-02-12 at 8 10 29 pm](https://f.cloud.github.com/assets/4665373/2156124/10168cca-9454-11e3-8c86-548530f34b27.png)

[2014-02-13 02:18] GovInTrenches commented on #59
Looks good to me - We may change the labels on the nav bar (which would change this graphic) - but I like the way this looks. Thanks for getting to this so quickly!

[2014-02-13 02:19] sarahelizabeth commented on #59
No problem. I made a little key, I am just figuring out where I want to put
it.

On Wed, Feb 12, 2014 at 8:18 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-13 02:53] sarahelizabeth commented on #62
@bepetersn I added all the colors (as per Tracy's Justice Data 3.0 doc) to the available datasets (found in Report and Investigate) using span tags

[2014-02-13 03:15] bepetersn commented on #59
Hey Sarah,

If you look at what your chart is saying, the colors and the categories are
out of sync and/or redundant. For instance, the "Not Available / Report"
item of your table tells us that there is "very little" data that is not
available--but this circle is colored red! Isn't very little unavailable
data in fact positive? And if you look at the table item "Not Available /
Prosecution", the a

[2014-02-13 03:17] bepetersn commented on #59
Wowwww, just saw that you had a lot of correspondence that I missed. Um,
for the moment, disregard everything I just said.

On Wed, Feb 12, 2014 at 9:15 PM, Brian Peterson bepetersn@gmail.com wrote:

##

Brian Peterson

[2014-02-13 03:23] bepetersn commented on #59
I see. I like how this new graphic looks a lot. The simplicity of it is
very appealing, compared to having different colors all over the place.

If you wanted to still use colors to convey "badness" of a particular
circle, (in addition to circle size; thus achieving slightly more
redundancy, in the positive sense Chris was thinking above), you could do
what the last two paragraphs of my two-emails

[2014-02-13 03:24] bepetersn commented on #59
Sorry for so many emails.

On Wed, Feb 12, 2014 at 9:23 PM, Brian Peterson bepetersn@gmail.com wrote:

##

Brian Peterson

[2014-02-13 03:30] bepetersn commented on #62
Thanks a lot, Sarah. Sorry for all that writing in the other thread... my
phone ran out of battery awhile ago, and I just remembered to check back in
with the conversation. After previewing the site with your graphic, I think
it's by far the best way to do it.

How do you feel about how the colored data fields look?

On Wed, Feb 12, 2014 at 8:53 PM, Sarah Murray notifications@github.comwrote:

##

[2014-02-13 03:35] bepetersn commented on #63
woops, doh, same thing as #51

[2014-02-13 03:35] #63 closed, assigned to nobody

[2014-02-13 03:46] bepetersn commented on #62
I can get the other datasets in there.

[2014-02-13 04:33] sarahelizabeth commented on #59
I am going to close this issue and if we show it to a lot of people and
they don't get it, then I will reopen it, is that ok? I have shown it to
several people who were able to grasp the concept with very little
explanation.

On Wed, Feb 12, 2014 at 9:24 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-02-13 04:34] sarahelizabeth commented on #62
No problem. I think the coloration is good. Explanatory without distracting
from the information. I'm happy with the way this is progressing.

On Wed, Feb 12, 2014 at 9:46 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-02-13 04:34] bepetersn commented on #59
Yep, I was gonna close it myself.
On Feb 12, 2014 10:33 PM, "Sarah Murray" notifications@github.com wrote:

[2014-02-13 04:34] #59 closed, assigned to nobody

[2014-02-13 08:21] bepetersn commented on #60
@sarahelizabeth, where do you think we should put the legend? Each page? Homepage?

[2014-02-13 08:23] bepetersn commented on #54
Can you provide links to this data? Tracy talked about this data quite awhile back, but from what I recall there was only federal-level data, and none for Chicago. Is that correct?

[2014-02-13 14:59] danxoneil commented on #54
This is going to be more about text than data. I want to rely on Tracy Siska quite a bit, but it will go something like this:

All over Chicago, every day, in every corner of our oblong city, people commit crimes. This project seeks to index the data that document these crimes. We cover the collection of the voice of victims when they call 311, the daily notes of detectives who investigate crime,

[2014-02-13 15:14] danxoneil commented on #56
I think there's actually a lot of data we can point to under this. Isn't every mug shot website an example of this data?

[2014-02-14 06:13] danxoneil commented on #28
Yep @bepetersn @wilbertom @eads (CC BY 3.0) is the license.

[2014-02-14 06:20] danxoneil commented on #55
Content for this section is here: https://docs.google.com/document/d/1kU8PnOzcbJsWIIq8fy-HPji1PMDqjRqBUa3RbCRi48E/edit#heading=h.xl0xrh25kd3q

[2014-02-14 06:40] sarahelizabeth commented on #58
@GovInTrenches Just to clarify: you basically want me to make a much
simpler version of Tracy's chart, is that correct?

On Wed, Feb 12, 2014 at 2:27 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-14 07:19] danxoneil commented on #58
@sarahelizabeth: [that chart](http://chicagojustice.org/research/long-form-reports/felony-sex-crime-case-processing-report-analysis-recommendations/CJP_Sex_Crimes_Flow_Chart_Chicago-0.jpg/image_large) is more illustrative than instructive. Also: the chart only covers Felony Sex Crimes.

The idea is that we have a simple flowchart (like the dumb line chart I made in the image above) that allows us

[2014-02-14 17:02] GovInTrenches commented on #58
@bepetersn  - Let's get this content as the lead paragraph on all the pages.

[2014-02-14 18:29] bepetersn commented on #58
Alright, I can do that.

@bepetersn https://github.com/bepetersn - Let's get this content as the
lead paragraph on all the pages.

##

Reply to this email directly or view it on
GitHubhttps://github.com/sc3/chicago-justice/issues/58#issuecomment-35102643
.

[2014-02-14 22:04] bepetersn opened #65 "Need more, better images"
I know this is a recurring thing for our group, but I feel some of our current photos are less than wonderful, simply because they don't let us see people and especially their faces.

Also, because we're planning to add more tabs to the site, we're inevitably going to need more photos.

[2014-02-14 23:18] bepetersn opened #67 "make site look a lot better on mobile"
Because we're using bootstrap frames, the grunt's work of getting most everything to show up on the page, whether in mobile or web view, is already done. However, there's still probably a lot of optimization to be done.

[2014-02-15 07:21] bepetersn opened #68 "add info about project and links to our Github README"
Yeah, this is kind of a silly thing to write a ticket for, but I'm trying to give other people as many opportunities to contribute as possible. Any help adding stuff about...
- links to our cooperating orgs, or even data availability, etc.
- general info about the project and scope
- project status
- documentation of how the whole site is currently put together (tarbell, google spreadsheets, templ

[2014-02-15 07:50] wilbertom commented on #67
Overall the content scales pretty good. Just a few issues.
1. The navigation bar becomes nearly unusable and doesn't look as it should.
2. The title follows you down as you scroll in a nearly invisible color.
3. The titles and some other content overflow.

Here are some tricks I have picked up for mobile driven development.
1. Resize the browser down to a small size
2. On Mac OS X I have a `simula

[2014-02-15 07:56] wilbertom commented on #67
And testing on the [firefox os emulator](https://addons.mozilla.org/en-US/firefox/addon/firefox-os-simulator/) wouldn't hurt neither.

[2014-02-15 08:10] wilbertom commented on #57
On the `investigate` tab? Including the chart? This can be changed easily.

[2014-02-15 08:10] bepetersn commented on #68
Copy-pasted some stuff in for the "general info about" section. Feel free to edit and add.

[2014-02-15 08:14] wilbertom opened #69 "Chart Templating"
I'm not sure if the chart changes on different tabs. The only change I see is the colored row.

If this is the case then it should be templated. Or maybe made into a macro that takes a row as an argument and color the chart based on the argument.

[2014-02-15 08:23] bepetersn commented on #69
Please figure out the _simplest_ possible solution to this problem, if you have any interest in it.

It actually irks the heck out of me that we have this huge html-coded table in each template. I haven't devoted my attention to solving this lack of DRY-ness, because I'm trying not to be neurotic, and there are other important things to be done.

[2014-02-15 08:25] wilbertom commented on #69
I got this one.

[2014-02-15 08:42] bepetersn commented on #57
Changing the names of our "stages" has to be done in a ridiculous number of places if
you want to be consistent and not confuse yourself later. Let me see if I
can recall them all, might as well try to document it:

1) in the spreadsheet, on sheet "stages"

2) optionally, in the "featured_image" name which the "stages" sheet
references

3) also, in a third place in the "stages" sheet, it may be ne

[2014-02-15 10:50] wilbertom commented on #69
Hey @eads can you peer review this one? I can modify it to be better if needed.

[2014-02-15 19:32] bepetersn commented on #28
fixed by @wilbertom with #71.

[2014-02-15 19:32] #28 closed, assigned to nobody

[2014-02-15 21:27] sarahelizabeth commented on #58
@GovInTrenches  Have I shown you this yet? What are your thoughts on this? Do you want this to go on the homepage? Do you want the text you just sent me to be included for the graphic even though it is going up on all the pages individually?

![c p_graphic](https://f.cloud.github.com/assets/4665373/2178988/66b51734-9686-11e3-9187-1a4706ff26f5.jpg)

[2014-02-15 22:41] GovInTrenches commented on #58
Looping @danxoneil in to look at this too.  To give some context, this is something that Sarah did for one of her classes. (Please correct if I'm mistaken)

I like the flow and the breakdown of what the each element does within the system. We could build a link to the element's page as well. (And just put a short summary explaining how the case moves through the system and then link to the page th

[2014-02-15 22:55] #60 closed, assigned to sarahelizabeth

[2014-02-15 23:26] danxoneil commented on #58
@sarahelizabeth I think this chart is a great take on the criminal justice process.

The Crime and Punishment and Chicago project is less about process and more about data-- the inputs and outputs of the system. I think of the entire project as a data dictionary-- a flat, accurate, and super-detailed take on what records are generated at every step in the process.

What I had in mind was that the

[2014-02-16 07:34] #68 closed, assigned to nobody

[2014-02-16 07:40] bepetersn commented on #62
Court Conviction data which needs to be added can be found at:

https://drive.google.com/file/d/0B6oKGQl-UtL7Q3RZV3hLbWJWVXJVVE9fUGl3eElCVU1yMkN3/edit?usp=sharing

[2014-02-16 07:44] bepetersn commented on #62
Jail data from the Cook County Sheriff's Office, which needs to be added, can be found here:

https://drive.google.com/file/d/0B6oKGQl-UtL7WkVSemhZZENKbHM/edit?usp=sharing

[2014-02-16 07:45] bepetersn commented on #62
Hey @wilbertom or other interested parties, this data can now be uploaded by someone other than me! Been meaning to put it on the site forever, but haven't gotten around to it. Sorry the one is in PDF format...

[2014-02-16 07:48] bepetersn commented on #55
See #57 for procedure to updating tab names. For the time being, it's the best I can do in terms of showing how it's done. Soon, ideally, it will be getting a lot easier to add new data / tabs to the site, so that the site can be maintained after this initial development.

[2014-02-16 07:49] bepetersn commented on #56
See #57 and comments for some idea of the different parts of the site's components that you have to update to add a new tab.

[2014-02-16 07:50] bepetersn commented on #54
See #57 and comments for some idea of the different parts of the site's components that you have to update to add a new tab.

[2014-02-16 07:51] #49 closed, assigned to nobody

[2014-02-16 07:57] bepetersn commented on #56
Summary for the "Arrest" tab should look something like this for now:

This is a record of a person being taken into custody and charged with a crime. Typically one of two things happen after an arrest is made: if it is a misdemeanor, the arrest file is prepared for the State’s Attorney so that the case can be prosecuted in the Cook County Criminal Court. If it is a felony, the arrest file is prep

[2014-02-16 07:58] bepetersn commented on #54
This is what the summary should look like for the "Victimize" tab for now:

This is the occurrence of an event that may be considered a crime. Typically one of two things happen after an event occurs: It may be reported via 911 or directly discovered by the police (“on view”), or it go completely unreported and unnoticed. If it is reported, a Call for Service is created. If it is unreported, there

[2014-02-16 16:23] sarahelizabeth commented on #62
Would you rather have me do this or change the site nav?

On Sun, Feb 16, 2014 at 1:45 AM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-02-16 16:42] bepetersn commented on #62
Definitely site nav, only you can do that
On Feb 16, 2014 10:23 AM, "Sarah Murray" notifications@github.com wrote:

[2014-02-16 19:29] #55 closed, assigned to nobody

[2014-02-16 23:12] sarahelizabeth commented on #56
Added .html page, two .md files with summary content, made everything point in the right direction according to you list and it is still coming up with the wrong title, @bepetersn

[2014-02-16 23:15] sarahelizabeth commented on #54
added .html page, summary content, two markdown files, and made everything point in the right direction but it is still coming up with a different title. @bepetersn

@GovInTrenches Do you have an idea of what kind of photo you would like for this?

[2014-02-18 01:48] bepetersn opened #75 "push all data fields back into spreadsheet, pull them in inside the markdown files"
Hey, I'm just starting to do this, but if someone wanted to replicate / continue what I'm doing with all of the data fields, it would be very helpful.

Proof of concept and example forthcoming in callforservice (first page with data fields).

[2014-02-18 01:59] bepetersn commented on #75
To clarify, what this entails is editing the google spreadsheet sheets for each page so that they contain tabular data that looks like this:

| field | availability |
| --- | --- |
| If a report is written | available |
| RD # | available |
| .... | .... |

And then we have to write some templating code inside each markdown file to pull in the data fields.

[2014-02-18 02:33] bepetersn opened #76 "make image portion of the page smaller, allowing room to see that there's more content"
I was showing the current version of the site to an acquaintance of mine, a front-end developer, and he had a few suggestions about how to make the site look a little cleaner and more inviting.

One of the suggestions that I liked the most was allowing the center photo to be more like 60-80% of the height of the page. This would improve the look of the site by making it clear that the user can scr

[2014-02-18 05:03] bepetersn opened #78 "invert headline / shadow colors on pages where it looks bad with the photos"
The call for service page, for example.

[2014-02-18 09:38] bepetersn commented on #75
Well, I did probably about half the hard work to get this to work tonight, I can now insert jinja templating language directly into the markdown and have it get interpreted. The whole way of doing it seems pretty buggy, though.

I suspect that the markdown interpreter is doing something weird, and doesn't like the templating language, because it's throwing everything in "pre" and "code" tags if I

[2014-02-18 09:43] bepetersn opened #79 "several pages have markdown issues"
@sarahelizabeth, I think the newest merge we did brought with it markdown-related issues. All the pages with added content are no longer accessible.

[2014-02-18 09:57] bepetersn commented on #79
Yeah, that was extremely easy to fix. I literally just replaced a lot of funky commas with more standard ones. Annoying that this issue keeps coming up, though.

[2014-02-18 09:57] #79 closed, assigned to nobody

[2014-02-18 10:27] bepetersn opened #81 "can't get pictures to show up on the production site!"
I can't understand why this is happening. I just published to the site. Now my browser shows our server throwing 404 error messages on each page. None of the pictures show up. This is despite the fact that I have all the pictures in my local, and `tarbell publish` thinks the server is up-to-date with what's in my repository.

Can anyone confirm the pictures are missing, that it's not just me? Perh

[2014-02-18 10:36] #57 closed, assigned to nobody

[2014-02-18 10:38] bepetersn commented on #62
Just put up the Court Conviction Data. Now, all the data fields that have been provided to me by Tracy, any that I know about, are up on the site.

[2014-02-18 10:40] bepetersn commented on #56
We still need a photo for this page as well.

[2014-02-18 10:52] bepetersn commented on #58
So, then, it looks like we are still missing our project is still missing its "Prison" page. That will bring us up to a total of 8.

If you look at the site right now, it's quite a mess (pictures disappeared?!). Nevertheless, you can see the main nav perfectly fine. With 7 pages up there, and a smaller font than we had before, it's looking a bit cramped. Does anyone have any thoughts about what we

[2014-02-18 10:54] bepetersn opened #82 "Finish Prison Tab"

[2014-02-18 10:54] bepetersn commented on #82
Not my highest priority at the moment. Do we even have any data or resources about this part of the Criminal Justice System?

[2014-02-18 16:48] GovInTrenches commented on #58
What if we moved the social media links? We can always pin those to the bottom (or in the about page)

We could also re-write to the nav to say "Crime & Punishment" to give us a bit more room. Since people will go to the main page and see Chicago on it, they'll know the site has a Chicago focus.

[2014-02-18 16:50] GovInTrenches commented on #81
I can't see the pictures - @srobbin, can you see the files?

[2014-02-18 17:13] srobbin commented on #81
The pages are referring to `index.jpg` as being in the root directory, when it's in `img` directory. I don't have a ton of Tarbell experience, but my guess is that you either need to prepend `img/` before you `featured_image` tags, or reference `img` in the content field.

[2014-02-18 17:17] eads commented on #81
Sounds like Scott's got the right idea.

All links (in-site page links, img srcs, style hrefs, etc) should be
relative to the current directory. Either option proposed by Scott is fine.

On Tue, Feb 18, 2014 at 11:13 AM, Scott Robbin notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGe

[2014-02-18 18:05] bepetersn commented on #81
I can see what Scott's saying that images are being referenced as if in project root. I'll try including a reference to the 'img' directory. What I don't understand is why the images get discovered correctly in my local no matter what. I'm about to try re-publishing again without any proof that it will work.

[2014-02-18 18:12] bepetersn commented on #81
I'm missing something. "Call for Service", "Incidents" and Arrest pages now have images; home page doesn't have its index.jpg

[2014-02-18 18:20] bepetersn commented on #81
K, got everything fixed. Had a few latent bugs. This must've happened because we re-engineered the spreadsheet used to store the image names awhile back, didn't include the img directory. Then I also didn't publish for awhile, and forgot what could have been causing it.

Thanks @srobbin, @GovInTrenches

[2014-02-18 22:11] sarahelizabeth commented on #58
I think what Brian is saying, and I totally agree with him, is that having 8 or 9 navigation tabs is visually distracting and confusing. Is there a way we can consolidate and perhaps have a secondary nav on a "police" page that includes victimization, call for service, and investigate.

[2014-02-18 22:22] GovInTrenches commented on #58
Are ya'll available for a conference call or Google hangout real quick? (517-755-9266)

My instinct is that I'd rather lose the social media sharing buttons and add the 8th tab (and put recidivism into the prison tab) then trying to make a secondary nav page.

[2014-02-18 22:29] #81 closed, assigned to nobody

[2014-02-18 23:55] bepetersn commented on #58
Sorry I didn't make myself available at that time.

Actually, the social media icons already don't fit. (They could if we removed some of the padding or margin around them, I think, but not without feeling cramped.)  Compactifying the home button can only save so much space. No, I think the only conceivable way you can put 8 tabs up there is by taking up about the whole page width of a laptop, and

[2014-02-19 05:07] bepetersn commented on #58
I told Chris earlier that maybe another way to do it would be to have a vertical rather than horizontal nav, like on the left side of the page.

I don't really want to do that, however, until we are certain that this page structure doesn't work. The reason that I see Chris and Daniel wanting 8 pages is to try to better reflect the actual datasets and the agencies that are generating them, how that

[2014-02-19 05:25] bepetersn commented on #75
Almost got this worked out tonight. Needed to hack at Tarbell's underlying files... I think I'm almost there.

[2014-02-19 05:25] #62 closed, assigned to nobody

[2014-02-20 22:02] GovInTrenches commented on #58
I'd like to see us try the horizontal w/ 8 and see how it looks. If we do it and it looks less than great, we can go back and switch to the vertical style nav bar.

[2014-02-21 00:15] sarahelizabeth commented on #58
Hi Chris, I had a really good idea in terms of the nav. I hope to have it
finished by Saturday and I will email you a screenshot.

On Thu, Feb 20, 2014 at 4:02 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-02-21 00:54] bepetersn opened #84 "fit flowchart on page"
There's not necessarily one best way to do this, but @sarahelizabeth is trying to make a rather (horizonally) large flowchart for our home page of the whole chicago justice system, to tie the site together.

Part of making this possible might be a feature to zoom in on the image.

[2014-02-21 00:57] bepetersn commented on #84
So this is might look stupid / old, but would any of these or similar "zoom" solutions be useful for our purposes, @sarahelizabeth?

http://www.mind-projects.it/projects/jqzoom/demos.php#demo1

[2014-02-21 01:19] bepetersn commented on #84
How about this utility? It seems closer to what we want.

http://epicserve.github.io/jquery-photo-enlarger/

[2014-02-21 01:22] bepetersn opened #85 "research / figure out how to responsivize "black hole""
On the "Prosecute" page, the primary image right now is in fact not an image, but just a circle I created. Somehow, by some means, it needs to be responsivized for different screen sizes, obviously for mobile, but it even starts to look bad on some smaller laptops.

In other words, it was a placeholder that I designed to fit on my own screen. Somehow, it needs to become a little bit more. @eads, @

[2014-02-21 01:30] bepetersn commented on #65
@GovInTrenches, would you be able to post the link to that folder of yours that contains all the photos we have access to? I know it's somewhere in a long chain of emails, just would make it easier to have here.

[2014-02-21 01:41] bepetersn commented on #82
Once Tracy provides us with all the necessary data, we will be able to finish this tab.

[2014-02-21 15:14] GovInTrenches commented on #65
I use Flickr for all of my pictures - Dan has a ton of them

http://www.flickr.com/search/?q=Chicago+Police&l=cc&ss=0&ct=0&mt=photos&w=all&adv=1

[2014-02-21 16:36] sarahelizabeth commented on #84
Yes, I like the second one.

On Thu, Feb 20, 2014 at 7:19 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-02-21 17:11] eads commented on #84
How was the flowchart image generated? You might be able to use SVG.

On Fri, Feb 21, 2014 at 10:36 AM, Sarah Murray notifications@github.comwrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life

[2014-02-21 17:22] sarahelizabeth commented on #84
I haven't finished it yet because no one can understand anything I do and
every time I try to make something it is apparently fundamentally wrong on
some level. But I'm making it in illustrator.

On Fri, Feb 21, 2014 at 11:11 AM, David Eads notifications@github.comwrote:

[2014-02-21 23:14] bepetersn commented on #84
Yeah, I was just preemptively trying to think how to fit it on a page. Another option, perhaps yet better: http://fancybox.net/

I'm having difficulty getting a sense for whether SVG images are also manipulable with JQuery. Perhaps not. Looks like you have to use a separate svg-manipulation js library.

[2014-02-24 05:23] bepetersn commented on #85
@eads unearthed this gem: http://www.mademyday.de/css-height-equals-width-with-pure-css.html

[2014-02-24 05:24] bepetersn commented on #82
We now have most of this page done, just waiting on availability and national model info from Tracy; maybe a better summary would help too.

[2014-02-24 05:25] #54 closed, assigned to nobody

[2014-02-24 05:25] #56 closed, assigned to nobody

[2014-02-24 06:57] #76 closed, assigned to nobody

[2014-02-24 06:59] bepetersn commented on #65
Maria found at least one photo for all of our pages, which are all up on the site now. Maybe all of them won't stick--I think the Prison one at least is pretty great.

[2014-02-24 06:59] #65 closed, assigned to nobody

[2014-02-24 07:00] bepetersn opened #90 "find somewhere to include image attributions"

[2014-02-26 22:14] bepetersn commented on #84
I'm waiting until @sarahelizabeth has done her best to put together the flowchart, to see if this issue is going to be closed, but we probably won't need to "zoom in" on the flowchart, or ideally anyway.

[2014-02-26 22:56] sarahelizabeth commented on #84
I was going to show you guys tonight, but this is what I did. Image is
attached.

On Wed, Feb 26, 2014 at 4:14 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-02-26 23:32] bepetersn commented on #84
Hey Sarah, I don't see the image.

[2014-03-02 09:06] #78 closed, assigned to nobody

[2014-03-02 09:07] #67 closed, assigned to nobody

[2014-03-02 09:07] #50 closed, assigned to nobody

[2014-03-02 09:07] #47 closed, assigned to nobody

[2014-03-04 06:34] bepetersn commented on #45
@sarahelizabeth has gone a ways towards this with the last few changes.

Unfortunately, we still have to do a bit of work removing margins or padding or something, because the various items on the nav still get pushed down on too large a screen size. This will be the start of an onerous effort to make the nav look good on any screen size.

[2014-03-04 06:35] bepetersn commented on #48
Still don't have links up on the site to the successful FOIAs that Tracy's org has done.

[2014-03-04 06:48] bepetersn opened #98 "do custom crop on some images for smaller viewports"
Some pictures with prominent faces, in particular, need to have custom crops of their respective photos for smaller viewports.

For instance, the home page has a picture of a policemen on it. After lower than about 630px in browser width, and viewport lower than about 560px, the face starts to disappear, and the picture is worth a lot less at that point.

Maybe we should get rid of the picture at

[2014-03-04 06:49] bepetersn commented on #69
This is on the backburner for now. Would be good to get this settled before the end of the project, though.

[2014-03-04 06:50] bepetersn commented on #58
I'm going to close this issue for the moment, we can reopen it if the flowchart that is presently on the site is not what is desired.

[2014-03-04 06:50] #58 closed, assigned to sarahelizabeth

[2014-03-04 06:51] bepetersn commented on #75
This is also going to be on the backburner for now.

I (or someone else) might finish this after the scope of the main project is done, because the primary advantage of this would be to make the project sustainable if Smart Chicago wants to add more content at some future date.

[2014-03-04 06:53] bepetersn commented on #82
Closing this, I think Prison Tab is in a fine state, relative to the others.

[2014-03-04 06:53] #82 closed, assigned to nobody

[2014-03-04 06:53] #84 closed, assigned to nobody

[2014-03-13 07:24] sarahelizabeth commented on #90
Got it

[2014-03-13 07:25] sarahelizabeth commented on #90
Shall I close this?

[2014-03-13 07:25] sarahelizabeth commented on #85
Are we sure that we still want to use this? I think a photo would be more consistent/less weird. I really don't think anyone is going to get it.

[2014-03-13 21:48] bepetersn commented on #90
Yeah, sure. Any time you've submitted you've made a change, seen that it looks good in your local, and merged it into the master branch, you should close the issue.

[2014-03-13 21:50] #90 closed, assigned to nobody

[2014-03-13 22:03] bepetersn opened #102 "improve responsiveness of navbar"
## Current problems
- we should be able to easily support smaller laptop screens, but below 1100 px social icons disappear and below 1090 px, all of the top navigation elements except the brand disappear.
- At 843 px, the options button appears. This needs to be tuned with the above problems.
- The taller nav brand also looks bad for various reasons at the 843px width, might have to mess with text

[2014-03-14 01:28] bepetersn commented on #85
I agree. I want a picture. Even one of an empty court room in Chicago would feel better.

[2014-03-14 01:38] bepetersn commented on #85
http://www.flickr.com/photos/usachicago/3879627035/in/photolist-6UQ6Xi-6UQigi-73CKzJ-bWgTmF-jpXf7v-acDLKW-8AfhiJ-ej43wS-e7xaQ1-e7xaH5-e7runz-dRYZb9-dRMnEX-dRTnYP-dRTnYe-eUbXRE-dRT6pL-dRMv9e-dRTnZF-dRTo36-dRYZgQ-dRTo2e-dRSXMb-eUbNSQ-brytnc-bzqs8n-8z5B6E-8z2vuT-d9ZufX-8i2NUt-9WvJwk-aFi3U8-a6ATRj-aV7n5K-bSdFnp-9b1ZA2-8tPych-geQTBP-bG6yye-8kX4tE-eZayEr-eZayPT-dgQW5Y-bUKq3R-cemMrS-cnKiyY-eTZqbK-eUbXPC-

[2014-03-14 01:47] bepetersn commented on #85
Thoughts, @GovInTrenches?

[2014-03-14 02:00] bepetersn commented on #45
closing this in favor of #102, which is where the real problems with the navbar come in

[2014-03-14 02:00] #45 closed, assigned to nobody

[2014-03-14 02:20] eads commented on #85
Use an image.

[2014-03-14 02:21] GovInTrenches commented on #85
I like the image you picked out Brian - lets go with it
-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 13, 2014 at 9:20:23 PM, David Eads (notifications@github.com) wrote:

Use an image.
—
Reply to this email directly or view it on GitHub.

[2014-03-14 02:25] bepetersn commented on #85
Tangentially related question, while I have everyone's attention:

What should go in the captions for these photos? A short explanation of
what's going on, or just photographer?
On Mar 13, 2014 9:21 PM, "Christopher Whitaker" notifications@github.com
wrote:

[2014-03-14 02:29] GovInTrenches commented on #85
Just the photographer I think 
-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 13, 2014 at 9:25:27 PM, Brian Everett Peterson (notifications@github.com) wrote:

Tangentially related question, while I have everyone's attention:

What should go in the captions for these photos? A short explanation of
what's going on, or just photographer?
On Mar 13, 2014 9:21 PM, "

[2014-03-14 03:15] sarahelizabeth commented on #85
There is now a section in the stages page of the google doc called
"image_caption" where credits can be placed.

On Thu, Mar 13, 2014 at 9:29 PM, Christopher Whitaker <
notifications@github.com> wrote:

[2014-03-14 03:23] bepetersn commented on #85
Nice! Good idea.
On Mar 13, 2014 10:15 PM, "Sarah" notifications@github.com wrote:

[2014-03-14 04:37] sarahelizabeth commented on #102
The only thing I can't figure out how to do is place an opaque black background behind the menu options when they drop down. Also, the social icons don't show up until you hover over them and I can't figure out why, do you know @eads ?
Other than those two things it's pretty much done.

[2014-03-14 04:41] eads commented on #102
I will take a look. What's the inspector got to say?

[2014-03-14 04:51] sarahelizabeth commented on #102
Never mind I think I figured it out for the most part actually. It doesn't
look precisely as I would like but close enough for now.

On Thu, Mar 13, 2014 at 11:41 PM, David Eads notifications@github.comwrote:

[2014-03-14 04:54] sarahelizabeth commented on #102
Sorry I meant about the black background. I still can't figure out the social icons.

[2014-03-14 04:57] bepetersn commented on #102
Where are all these changes right now? Anywhere I or Dave can pull from?
Merge you've merged by now.
On Mar 13, 2014 11:54 PM, "Sarah" notifications@github.com wrote:

[2014-03-14 05:01] sarahelizabeth commented on #102
I just pushed again

[2014-03-14 05:11] bepetersn opened #104 "make nav brand resolve back into nav below the landing photo"
Is that clear? I think we should still get rid of the overhanging nav brand when you get to the main part of the page.

[2014-03-14 05:15] bepetersn commented on #102
OK, so I'm not the seeing the particular problem you were talking about. As long as the social icons are visible for me, they're clickable. However, I think they could be made to be visible at lower page width than they currently are. Same with the brand, maybe. See #104, maybe.

[2014-03-14 05:16] sarahelizabeth commented on #102
Yes I have not merged them yet.

On Fri, Mar 14, 2014 at 12:15 AM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-03-14 21:47] bepetersn opened #106 "can't get markdown to render from one file"
As described briefly in #105, or visible yourself if you pull sc3/master and run the preview server. On the Call for Service page, in the rail, for some reason the markdown isn't rendering correctly. Can't grok what's going on. The problem ought to be either in 'callforservice.html', where the content is pulled in, or the file itself, 'callforservice_rail.md'.

The current page looks, in effect, l

[2014-03-15 19:45] bepetersn commented on #106
Fixed by @wilbertom

[2014-03-15 19:45] #106 closed, assigned to nobody

[2014-03-15 21:57] #36 closed, assigned to nobody

[2014-03-16 21:10] #102 closed, assigned to nobody

[2014-03-16 21:10] sarahelizabeth commented on #98
Done. Aligned the index page and the Prison page.

[2014-03-16 21:10] #98 closed, assigned to nobody

[2014-03-16 21:12] sarahelizabeth commented on #85
I am going to close this since we are using a picture.

[2014-03-16 21:12] #85 closed, assigned to nobody

[2014-03-16 21:12] sarahelizabeth commented on #69
We are getting rid of the chart so I am closing this.

[2014-03-16 21:12] #69 closed, assigned to nobody

[2014-03-17 19:20] sarahelizabeth commented on #51
Done as of last merge, did this with jQuery

[2014-03-17 19:23] bepetersn commented on #51
Excellent!
On Mar 17, 2014 2:20 PM, "Sarah" notifications@github.com wrote:

[2014-03-17 22:30] bepetersn commented on #51
Sarah, I'm seeing 404s like you described, for the jquery plugin I assume you added, "jquery-expander". In fact, there's a new folder in the "js" directory, but there's no actual new javascript added. Did you forget to add it in?

[2014-03-18 04:51] bepetersn commented on #51
I was able to successfully add the jquery-expander to the js folder. I'm
about to commit the few changes needed to get to this point. A few snags
came up, though; here's the reasons why I reopened this issue:
- I see that you only added the "read more" component to a few pages, and
  not all. I would start adding it to more of the pages, but...
- The outer expandable div element you added seems to

[2014-03-18 14:03] sarahelizabeth commented on #51
Why did you send me like 15 emails in triplicate....? Anyway, I only added it to a few pages because it only needs to be on a few pages. Consistency is one thing but overkill is also a thing.

[2014-03-19 02:13] bepetersn commented on #51
Sorry for the emails, I didn't realize you'd get one for each edit.

##

To reiterate, it seems like this jquery plugin puts everything inside the expander div in quotes, which causes markdown to not render it. We may have to encode these lists of data fields into the page in pure html, else they will show up as a block of text with a bunch of "*" or "-" in between the words. That, or use a differ

[2014-03-19 06:25] #75 closed, assigned to nobody

[2014-03-19 06:25] #51 closed, assigned to nobody

[2014-03-19 06:45] bepetersn opened #112 "make the entire homepage overlay fade in together"
It looks weird right now, as only the title fades in, while the rest of the overlay doesn't. This will require some annoying pushing around of CSS, or changing of the element that actually gets faded.

[2014-03-19 17:41] bepetersn commented on #48
I've just added the CJP's FOIA request for "Call for Service" data. @tjakester, are there any other relevant datasets that we should link to?

[2014-03-19 19:23] tjakester commented on #48
this link here will have 5 years of cook county court conviction data once David finishes cleaning up the addresses.  Should be done before release.

Tracy

##

Tracy Siska | Executive Director
Chicago Justice Project | 35 E. Wacker Drive, 9th Floor | Chicago, IL 60601
Ph. (312) 564 – 5685 | Fax (312) 376 - 0162

tsiska@chicagojustice.org | www.chicagojustice.org
Twitter: CJPJustProj | Facebook: B

[2014-03-19 19:38] tjakester commented on #48
this link here will have 5 years of cook county court conviction data once David finishes cleaning up the addresses.  Should be done before release.

http://www.chicagojustice.org/foi/data-sets-available-for-download/cook-county-court-data

Tracy

##

Tracy Siska | Executive Director
Chicago Justice Project | 35 E. Wacker Drive, 9th Floor | Chicago, IL 60601
Ph. (312) 564 – 5685 | Fax (312) 376 -

[2014-03-19 21:07] bepetersn commented on #48
Added your link, pre-emptively.

@tjakester, I had a related question that I think you can clear up. Currently on the "Call for Service" page, we list three fields as part of "Open Data". Is this out of date / wrong? Or, where is this data available? These are the fields I'm referring to:
- If a report is written
- RD #
- Final coded clearance by the officer (this should tell OEMC if a report was

[2014-03-19 21:29] tjakester commented on #48
The only fields open currently are:

Police event type
district

These two fields make up the data available on our site.  The rest of the fields in the attached excel doc are either FOIA able or not availble.  They are marked accordingly in the attached document.  What is up online currently does not list the Not available data.

Tracy

##

Tracy Siska | Executive Director
Chicago Justice Project

[2014-03-20 05:34] bepetersn opened #114 "add background overlay to "About" section on landing page"

[2014-03-20 05:35] bepetersn commented on #48
Well, anyway, I guess I'll close this issue.

[2014-03-20 05:35] #48 closed, assigned to nobody

[2014-03-21 15:53] sarahelizabeth commented on #114
This looks bad. Not doing it.

[2014-03-21 15:53] #114 closed, assigned to nobody

[2014-03-21 16:03] sarahelizabeth opened #115 "Make process flowchart sticky on page"
....so that it stays in place while scrolling through the table of contents at larger viewpoints ONLY (no tablet)

[2014-03-21 18:28] #61 closed, assigned to nobody

[2014-03-21 18:36] bepetersn opened #117 "Customization of the length of expandable sections"
Basically, incorporate a CSS class into the macro that defines the expandable sections, as a hook to define different different "slice points" in our javascript.

[2014-03-21 18:55] bepetersn opened #118 "make photo stay in place and text slide over it?"
The bulk of our site currently copies a pretty popular design feature today, wherein the reader scrolls through a page, and a background image incrementally gets covered up as the new content gets pushed in.

We have almost copied this design feature -- except on our site, the picture isn't covered up by other content as the reader scrolls, the picture is simply contiguous with the rest of the con

[2014-03-21 19:42] eads commented on #118
Just leave it in place and backlog this ticket.

On Fri, Mar 21, 2014 at 1:55 PM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for life

[2014-03-21 22:28] #117 closed, assigned to nobody

[2014-03-21 22:33] bepetersn opened #120 "abstract away some of the repetitiveness of high-level macro"

[2014-03-22 02:04] bepetersn opened #121 "make nav brand visible at mobile viewport (and between that and laptop, if possible)"
This is the easiest way to access the home page (as opposed to tabbing through to the beginning or end of the stages), and it definitely can fit after we move all the tabs into the options button.

[2014-03-22 02:05] bepetersn opened #122 "Make it clear that the options button at mobile viewport is important"
Having a thing that says "Process" or "Stages", or something like that is what I had in mind. @eads once suggested this, I believe.

[2014-03-24 19:00] bepetersn opened #125 "add national model for prison page"
add this content in the prison_rail markdown file:
### National Models for Releasing Justice Data
##### Oregon

The state of Oregon makes a very large amount of data about their prison available through their [Oregon.gov site](https://data.oregon.gov/browse?q=Prison%20&sortBy=relevance&utf8=%E2%9C%93). This includes forecasts of prison populations, census of current prison populations by instituti

[2014-03-24 19:22] bepetersn opened #126 "update jail data fields"
These are the newest jail data fields:

https://docs.google.com/document/d/1piHwwPuN48EjCe9id-1wCagkHJGYCE93ZiqQJZJJTNE/edit#heading=h.gjdgxs

These have to be added to the google doc our project pulls from, which is here: https://docs.google.com/spreadsheet/ccc?key=0AtIgbhrbjJC_dGZldkpEUDB0bmRhY1Z3aU9jRlI1VlE&usp=drive_web#gid=15

We'll have to mess with the macros.html file to add in the copy fo

[2014-03-24 19:28] bepetersn opened #127 "update copy for Court page to reflect its availability (not available by FOI, but by request)"
This is the latest update on the Court that Tracy gave me; we DON'T need to use this exact copy, but we should change our content by merging in the relevant bits of info from this, related to Court's availability:

---

All of the courts in Illinois and at the federal level are exempt from the FOIA.  All court records are deemed to be open and available which is why we are able to view court recor

[2014-03-24 19:34] bepetersn opened #128 "make sure all data inventories have the same sections"
#### Currently

Right now, some pages have "Available" and "FOIA-able"; others have just "Open Data"; others have just "Unavailable Data".
#### Solution

Instead of this, I propose that each inventory should have all three sections. The one exception might be the State's Attourney's Office, for which there is no data at all. We could still illustrate this in a creative way, ideally.

[2014-03-24 23:56] sarahelizabeth commented on #121
What if I just add an "Overview" tab to the top of the options menu.... somehow....

[2014-03-25 00:05] bepetersn commented on #121
Somehow...

On Mon, Mar 24, 2014 at 6:56 PM, Sarah notifications@github.com wrote:

##

Brian Peterson

[2014-03-25 01:03] sarahelizabeth commented on #121
I figured it out. Closing this.

[2014-03-25 01:03] #121 closed, assigned to nobody

[2014-03-25 01:32] sarahelizabeth commented on #122
Done, do we like this?
![screen shot 2014-03-24 at 8 31 23 pm](https://f.cloud.github.com/assets/4665373/2507470/6354c2c0-b3bd-11e3-98a8-41883e0a0240.png)

[2014-03-25 01:39] sarahelizabeth commented on #115
I found this but I'm having trouble implementing it @bepetersn do i need to include the whole "jQuery-Stickem" folder or just the "jquery.stickem.js" file?

[2014-03-25 01:46] bepetersn commented on #122
Yes! Love it.
On Mar 24, 2014 8:32 PM, "Sarah" notifications@github.com wrote:

[2014-03-25 01:56] #122 closed, assigned to nobody

[2014-03-25 08:33] sarahelizabeth opened #132 "IE9, 10, and 11 bugs"
- Navbar header is too narrow ("Crime" and "&" are on separate lines)
- Drop shadows are gone

[2014-03-25 08:34] sarahelizabeth opened #133 "IE6, 7, and 8 bugs"
Absolutely everything is broken.

[2014-03-25 22:59] bepetersn opened #134 "maybe re-make process flowchart with HTML?"
Post-launch, of course.

[2014-03-25 23:00] bepetersn opened #135 "scroll injunction overlaps with homepage overlay on small viewports"

[2014-03-25 23:06] bepetersn opened #136 "on mobile, call for service caption isn't present"
This also happens in the browser as the viewport gets close to mobile. Only on the incidents page does this work as intended.

[2014-03-25 23:08] bepetersn commented on #135
You know, I bothered to look at it on my phone, and it looks great. So scratch this.

[2014-03-25 23:08] #135 closed, assigned to nobody

[2014-03-25 23:17] bepetersn commented on #133
Did you mean to mention IE9 in two different issues and not mention IE8?

[2014-03-25 23:23] bepetersn opened #137 "jquery-expander has glitchy behavior"
The whole expandable section appears to jump up and down very briefly, and then a fadeIn effect makes the section expand below the visible part of the page. Sometimes, this seems to result in the mouse/ viewport shifting to somewhere other than where it was. Most of the time, you have to scroll down before you can then close the expandable section (like if it was bigger than you maybe expected).

[2014-03-25 23:46] bepetersn commented on #112
@sarahelizabeth, did you say you had tried to make progress on this?

[2014-03-26 00:11] bepetersn opened #138 "Review and edit site's copy as a whole"
Do this with a goal towards making our content understandable to the intended audience (open government people, journalists, developers, and intersection thereof), and also towards **cohesiveness** and **consistency between pages**.

For example of several things that need to be clarified and improved, more on some pages than others:
- Consistent references (by name) to the agencies that are colle

[2014-03-26 00:14] bepetersn commented on #138
@GovInTrenches has offered to do this.

[2014-03-26 00:21] sarahelizabeth commented on #133
No that was a typo I apologize for the confusion. I meant it to say IE8

On Tue, Mar 25, 2014 at 6:17 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-03-26 00:22] sarahelizabeth commented on #112
Nope by all concepts of how this works, what I put in there should work. It
must be an issue with markdown...

On Tue, Mar 25, 2014 at 6:46 PM, Brian Everett Peterson <
notifications@github.com> wrote:

[2014-03-26 00:24] bepetersn opened #139 "on mobile, page footer covers up some text at the bottom of the page"
This happens on many but not all of the pages; specifically: Incidents, Arrest, Court and Prison

[2014-03-26 00:29] bepetersn opened #140 "Add copy to homepage "table of contents" section for Victimization (to replace "idk")"
I guess a short bit of summary copy is all we can add. Something about different crimes having different "drop-off" points, maybe?

[2014-03-26 00:33] bepetersn opened #141 "add back in link to overview page from prison in prison.html"

[2014-03-26 00:36] bepetersn commented on #112
Maybe it's just the annoying way we load the image and image wrapper in,
that's causing it.

On Tue, Mar 25, 2014 at 7:22 PM, Sarah notifications@github.com wrote:

##

Brian Peterson

[2014-03-26 00:38] bepetersn commented on #120
I'm going to work on this, so that we're JUST generating the fields with the macro, if possible. That will allow us to add copy to individual data inventory sections, which is something I want to do.

[2014-03-26 09:15] #141 closed, assigned to nobody

[2014-03-26 09:21] #136 closed, assigned to nobody

[2014-03-26 10:29] #125 closed, assigned to nobody

[2014-03-26 10:37] #126 closed, assigned to nobody

[2014-03-26 12:26] GovInTrenches opened #148 "Fork into Smart Chicago's Repo"
I will do this just before launch so don't worry about this part.

[2014-03-26 12:57] bepetersn commented on #139
I tried just adding some page breaks, e.g. "<br <br", to the bottom of these pages, but it didn't work. We need to include some css margins or something, to get the job done.

[2014-03-26 13:42] #120 closed, assigned to nobody

[2014-03-26 13:42] #128 closed, assigned to nobody

[2014-03-26 14:06] sarahelizabeth commented on #139
added 3% padding to container div

[2014-03-26 14:06] #139 closed, assigned to nobody

[2014-03-26 14:12] eads commented on #139
Put a 50 or 100px bottom padding on the bottom.
On Mar 26, 2014 7:57 AM, "Brian Everett Peterson" notifications@github.com
wrote:

[2014-03-26 14:49] #140 closed, assigned to nobody

[2014-03-26 14:57] bepetersn commented on #148
sounds good.

[2014-03-26 14:58] bepetersn commented on #137
One thing that might make it slightly less glitchy is choosing a different animation than default. Maybe something really simple, or no animation. Possibly could help.

[2014-03-26 15:05] eads commented on #137
I noticed this too.

Please just drop the expander. If the client has a problem, I'll talk with
them about it.

On Wed, Mar 26, 2014 at 9:58 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics w

[2014-03-26 15:09] bepetersn commented on #137
Drop it now?

[2014-03-26 15:11] eads commented on #137
Yeah, it's buggy and there's no upside to it. Instead of fixing the bugs in
a feature that isn't useful, just get rid of the feature that isn't useful.

On Wed, Mar 26, 2014 at 10:09 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://f

[2014-03-26 15:13] bepetersn commented on #115
Can @wilbertom or @eads try to do this, I don't see how to do it. Everytime my element sticks, it becomes taller and wider inexplicably. Affix doesn't even have a clear way to make the fixed element unfix after a certain point, which is important for this use case. Maybe we have to use javascript to get that behavior, instead of pure css. Another thing people seem to suggest is fixing a parent ele

[2014-03-26 15:15] GovInTrenches commented on #137
Dropping it is OK by me

-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 26, 2014 at 10:11:44 AM, David Eads (notifications@github.com) wrote:

Yeah, it's buggy and there's no upside to it. Instead of fixing the bugs in
a feature that isn't useful, just get rid of the feature that isn't useful.

On Wed, Mar 26, 2014 at 10:09 AM, Brian Everett Peterson <
notificat

[2014-03-26 15:20] bepetersn opened #155 "photo credit for homepage isn't visible"

[2014-03-26 15:25] eads commented on #115
As I told sarah this morning, please stop trying to make affix work here
and just let it scroll.

On Wed, Mar 26, 2014 at 10:13 AM, Brian Everett Peterson <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our st

[2014-03-26 15:28] bepetersn commented on #115
Can you help me understand what "let it scroll" means? What Sarah said of
your commentary was TO use Bootstrap's affix instead of the stick'em jquery
plugin.
On Mar 26, 2014 10:25 AM, "David Eads" notifications@github.com wrote:

[2014-03-26 15:28] eads commented on #137
Thanks Chris!

On Wed, Mar 26, 2014 at 10:15 AM, Christopher Whitaker <
notifications@github.com> wrote:

##

David Eads - 773.354.2285
News applications developer, Chicago Tribune (
http://www.chicagotribune.com/news/data/)
Founder, FreeGeek Chicago (http://freegeekchicago.org)

"Medical statistics will be our standard of measurement: we will weigh life
for life and see where the dead lie thicker

[2014-03-26 15:29] eads commented on #115
Right. But you're also struggling with that. There's a bunch of tricks
you'll need to make it work that neither of you are going to acquire in the
next day, so just don't try and make it affix. I can show you those tricks
when the project is done.

Take it from a guy who likes sticky elements waaaay too much.

On Wed, Mar 26, 2014 at 10:28 AM, Brian Everett Peterson <
notifications@github.com> wro

[2014-03-26 15:30] eads commented on #115
By let it scroll I just mean don't try to apply position: fixed to the
element, just leave it as a statically positioned element and let it scroll
with the rest of the content.

[2014-03-26 15:31] bepetersn commented on #115
So what you're trying to tell me is to to relax and not worry about it? :D
On Mar 26, 2014 10:30 AM, "David Eads" notifications@github.com wrote:

[2014-03-26 15:34] eads commented on #115
Yes.

[2014-03-26 15:36] bepetersn commented on #115
Can do! Think I'll take a nap.
On Mar 26, 2014 10:34 AM, "David Eads" notifications@github.com wrote:

[2014-03-26 15:53] GovInTrenches opened #156 "Change URL - Top Domain?"
Is chicago-justice.smartchicagoapps.org an ok URL as we have the title on the site as "Crime and Punishment in Chicago" ?

We can use a top-level domain like crimeandpunishmentchicago.org OR we can do something like crime.smartchicagoapps.org or justice.smartchicagoapps.org

@Danxoneil, @srobbin - What do you think?

[2014-03-26 20:49] srobbin commented on #156
I like either crimeandpunishmentchicago.org or justice.smartchicagoapps.org

[2014-03-26 22:38] bepetersn opened #159 "add a blurb to the social media sharing functions on spreadsheet, first sheet"
Do this before we launch: https://docs.google.com/spreadsheet/ccc?key=0AtIgbhrbjJC_dGZldkpEUDB0bmRhY1Z3aU9jRlI1VlE&usp=drive_web

[2014-03-26 22:39] bepetersn commented on #137
Removed, but left in the infrastructure to add them.

[2014-03-26 22:39] #137 closed, assigned to nobody

[2014-03-27 04:46] sarahelizabeth commented on #155
fixed

[2014-03-27 04:46] #155 closed, assigned to nobody

[2014-03-27 04:46] sarahelizabeth commented on #132
fixed

[2014-03-27 04:46] #132 closed, assigned to nobody

[2014-03-27 04:47] sarahelizabeth commented on #112
fixed

[2014-03-27 04:47] #112 closed, assigned to nobody

[2014-03-27 21:05] #127 closed, assigned to nobody

[2014-03-27 22:49] bepetersn commented on #159
Added something here. Could probably be improved, need others' input.

[2014-03-28 18:48] GovInTrenches commented on #156
@srobbin

We're going to go with crime-punishment.smartchicagoapps.org as our final answer. Can you update the URL?

Thanks a ton, @govintrenches

[2014-03-28 18:51] GovInTrenches opened #164 "Add more links to other examples, not just best practices"
Add links to other agencies that release data and not just the best.

[2014-03-30 21:40] #156 closed, assigned to nobody

[2014-03-30 21:40] #159 closed, assigned to nobody

[2014-03-30 21:41] bepetersn commented on #138
@govintrenches, is there more to be done still on this front?

[2014-03-30 21:52] bepetersn opened #171 "add documentation on how the site is put together"
This would be done with a mind towards someone other than the original developers being able to go in and add more content, if necessary. It would also make it more clear where things can be simplified in future iterations, if desired.

[2014-03-30 21:54] bepetersn opened #172 "add small caption underneath process flowchart?"
"This is a self-contained representation of the entire criminal justice system in Chicago."

But seriously, a caption would look good and take up a little bit more whitespace.

[2014-03-30 21:55] bepetersn opened #173 "do user testing with SmartChicago"

[2014-03-30 22:05] bepetersn commented on #164
This has research and writing aspects, as well as design and coding aspects. In order to expedite the process of getting it done, it might make sense to break it up into multiple tickets, once we get clear on what needs to be done.

In terms of research, the last time that this was brought up, @tjakester seemed to think it was a very large task, and that there are possibly too many agencies in too

[2014-03-30 22:49] bepetersn commented on #173
Don't know what's going to be involved in this process.

[2014-03-31 13:29] GovInTrenches commented on #173
Once we get the site launched, we’ll go into user testing. I’ll set that up with Sonja on a separate thread. 
-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 30, 2014 at 5:49:43 PM, Brian Everett Peterson (notifications@github.com) wrote:

Don't know what's going to be involved in this process.

—
Reply to this email directly or view it on GitHub.

[2014-03-31 13:30] GovInTrenches commented on #138
I’m slowly moving towards this. My goal is to wrap this up today. 
-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 30, 2014 at 4:41:20 PM, Brian Everett Peterson (notifications@github.com) wrote:

@govintrenches, is there more to be done still on this front?

—
Reply to this email directly or view it on GitHub.

[2014-03-31 20:15] tjakester commented on #164
Hello,

Here is the google doc Dan and I have been working on.  It lists all of the agencies that i have been able to locate that release data.  I think Dan was thinking more of just a list of agencies with links.  These are all that I was able to find.  It does not mean that this is all that there are.  The are 19,000 police agencies in the US and probably thousands of courts and prosecutor’s off

[2014-03-31 20:16] GovInTrenches commented on #164
I’m currently adding the list now. Brian will see them as a crapton of pull requests on my end. 

-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 31, 2014 at 3:15:11 PM, tjakester (notifications@github.com) wrote:

Hello,

Here is the google doc Dan and I have been working on. It lists all of the agencies that i have been able to locate that release data. I think

[2014-03-31 21:15] bepetersn commented on #172
Hey @GovInTrenches, what do you think of this?

[2014-03-31 21:20] GovInTrenches commented on #172
I think it’s fine like it is. We’ll flag it for follow-up though
-- 
Christopher Whitaker
Brigade Captain, City of Chicago
@CivicWhitaker

On March 31, 2014 at 4:15:27 PM, Brian Everett Peterson (notifications@github.com) wrote:

Hey @GovInTrenches, what do you think of this?

—
Reply to this email directly or view it on GitHub.

[2014-04-01 19:25] #173 closed, assigned to nobody

[2014-04-01 19:34] bepetersn opened #187 "add acessibility score / classification for each stage?"
This was something I wanted to do to replace the original "data availability" chart. I felt it would be a helpful for someone visiting each page to see a large, visual summary of how we interpret this stage / agency. Of course, this may not be in the cards any more. Would something like this be worth doing, perhaps post-launch? @GovInTrenches?

[2014-04-02 17:41] #187 closed, assigned to nobody

[2014-04-02 17:42] #164 closed, assigned to nobody

[2014-04-02 19:55] bepetersn opened #189 "add methodology section"
It would be cool to have a section at the end explaining how the data was gathered, among other things

[2016-04-19 00:16] fgregg opened #193 "Update arrest data section"
The CPD has released an API for arrest data: http://publicsearch1.chicagopolice.org/Help

It looks like the place to add information about this is in the google sheets that back tarbell. Is that right?

Would be happy to make the edits if show where to make them.

[2016-04-19 01:36] bepetersn commented on #193
There's two markdown files that control the content on that page: https://github.com/sc3/crime-punishment/blob/master/content/arrest.md and https://github.com/sc3/crime-punishment/blob/master/content/arrest_rail.md. To add fields under the open section, copy one of the other content sections' loading of data. Here's a link to the spreadsheet itself: https://docs.google.com/spreadsheets/d/1nYuT_bQ7

[2016-04-19 03:16] fgregg commented on #193
The spreadsheet is not editable by the public. If you'd like to add me, my
email address is fgregg@gmail.com

On Mon, Apr 18, 2016 at 8:36 PM Brian Everett Peterson <
notifications@github.com> wrote:

[2016-04-19 12:33] eads commented on #193
@fgregg I added you to the spreadsheet. Once you're down w/ edits I can republish (I think... @bepetersn do you have the creds to that s3 bucket?).

[2016-04-19 15:29] bepetersn commented on #193
Yeah, I've got them, @eads.

[2016-04-19 16:24] eads commented on #193
@bepetersn can you just republish when Forest has made the updates? I wiped mine out doing tarbell development at some point.

[2016-04-19 16:29] bepetersn commented on #193
@eads Sure thing, Dave.

On Tue, Apr 19, 2016 at 10:24 AM, David Eads notifications@github.com
wrote:

##

Brian Peterson